#!/bin/bash

# Start CABS Tuxedo services

# -- Internal variables -------------------------------------------------------

script_name=$(basename "$0")

# -- General ------------------------------------------------------------------

check_user () {
    if [[ "${USER}" == "root" ]]; then
        echo "${script_name}: This script should be executed as a Tuxedo service user not root"
        exit 1
    elif [[ "${USER}" == "ois" ]]; then
        local_domain=$(hostname | sed -E 's/(.*)-tuxedo-(.*)-(.*)/OIS_INSTANCE_\U\3_\U\2_LOD/')
    else
        local_domain=$(tr [:lower:] [:upper:] <<< ${USER})_$(hostname | sed -E 's/(.*)-tuxedo-(.*)-(.*)/\U\1_INSTANCE_\U\3_\U\2_LOD/')
    fi
}

print_timestamp () {
    local timestamp=$(date +%A)" "$(date +%d)"/"$(date +%m)"/"$(date +%Y)" at "$(date +%r)
    echo "Advertising QSP Tuxedo services for user "${USER}" on ${timestamp}"
}

advertise_services() {
    dmadmin << EOF
adv -d ${local_domain} QSP_Stat
adv -d ${local_domain} QSP_Can
adv -d ${local_domain} QSP_Ord
EOF
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    check_user

    if [[ -t 0 ]]; then
        print_timestamp
    fi

    advertise_services
}

main "${@}"
