#!/bin/bash

# Stop mncq daemon.

# -- Internal variables -------------------------------------------------------

script_name=$(basename "$0")

max_pid_wait_seconds="10"

# -- General ------------------------------------------------------------------

check_user () {
    if [[ "${USER}" == "root" ]]; then
        echo "${script_name}: This script should be executed as a Tuxedo service user not root"
        exit 1
    fi
}

check_daemon () {
    if [[ -z "$(pgrep -u ${USER} mncq)" ]]; then
        echo "${script_name}: mncq daemon is not running" >&2
        exit 1
    fi
}

stop_daemon () {
    local daemon_pid="$(pgrep -u ${USER} mncq)"

    echo "${script_name}: stopping mncq daemon"
    kill -s SIGTERM "${daemon_pid}"

    local pid_wait_attempts=0

    while $(kill -0 "${daemon_pid}" 2>/dev/null); do
        if [[ "${pid_wait_attempts}" -gt "${max_pid_wait_seconds}" ]]; then
            echo "${script_name}: could not stop mncq daemon"
            exit 1
        else
            ((pid_wait_attempts++))
        fi
        sleep 1
    done

    echo "${script_name}: mncq daemon stopped"
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    check_user
    check_daemon
    stop_daemon
}

main "${@}"
