#!/bin/bash

# Stop Tuxedo services for current user.

# -- Internal variables -------------------------------------------------------

service=$(tr [:lower:] [:upper:] <<< ${USER})
now=$(date +%r)
shutdown_log={{ tuxedo_logs_path }}/oisclose.log

# -- General ------------------------------------------------------------------

check_user () {
    if [[ "${USER}" == "root" ]]; then
        echo "${script_name}: This script should be executed as a Tuxedo service user not root"
        exit 1
    fi
}

stop_tux_services () {
    echo "${now} Shutting down Tuxedo servers for user '${USER}'" | tee -a "${shutdown_log}"

    mncq_stop
    tmshutdown -y -w1 2>> "${shutdown_log}"

    local generic_error=$(grep "ERROR" "${shutdown_log}")
    local proc_count=$(grep "processes stopped" "${shutdown_log}" | cut -d " " -f1)

    if [[ -n "${generic_error}" ]]; then
        echo -e "${now} Tuxedo failed to shutdown: service(s) may already be closed" | tee -a "${shutdown_log}"
        echo "${now} Consult the shutdown log file: '${shutdown_log}'"
    else
        echo -e "${now} ${service} Tuxedo services stopped successfully" | tee -a "${shutdown_log}"
        echo "${now} ${proc_count} processes stopped" | tee -a "${shutdown_log}"
        tmipcrm -y ${USER} >> "${shutdown_log}" 2>&1
    fi
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    check_user
    stop_tux_services
}

main "${@}"
