#!/bin/bash

# Start packq daemon.

# -- Internal variables -------------------------------------------------------

script_name=$(basename "$0")

default_interval="60"
default_log_file="{{ tuxedo_logs_path }}/${USER}/packQTX.log"
default_log_level="3"

# -- General ------------------------------------------------------------------

check_daemon () {
    if [[ -n "$(pgrep -u ${USER} -x packq)" ]]; then
        echo "${script_name}: packq daemon is already running" >&2
        exit 1
    fi
}

start_daemon () {
    local interval="${1:-${default_interval}}"
    local log_level="${2:-${default_log_level}}"
    local log_file="${3:-${default_log_file}}"

    packq "${interval}" "${log_level}" "${log_file}"
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    check_daemon
    start_daemon "${@}"
}

main "${@}"
