#!/bin/bash

# Stop packq daemon.

# -- Internal variables -------------------------------------------------------

script_name=$(basename "$0")

max_pid_wait_seconds="10"

# -- General ------------------------------------------------------------------

check_daemon () {
    if [[ -z "$(pgrep -u ${USER} -x packq)" ]]; then
        echo "${script_name}: packq daemon is not running" >&2
        exit 1
    fi
}

stop_daemon () {
    local daemon_pid="$(pgrep -u ${USER} -x packq)"

    echo "${script_name}: stopping packq daemon"
    kill -s SIGTERM "${daemon_pid}"

    local pid_wait_attempts=0

    while $(kill -0 "${daemon_pid}" 2>/dev/null); do
        if [[ "${pid_wait_attempts}" -gt "${max_pid_wait_seconds}" ]]; then
            echo "${script_name}: could not stop packq daemon"
            exit 1
        fi

        ((pid_wait_attempts++))
        sleep 1
    done

    echo "${script_name}: packq daemon stopped"
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    check_daemon
    stop_daemon
}

main "${@}"
