# AWK program source file for generating SLA figures

BEGIN { FS="[\t]";
OFS="\t";}
{
        maxtime = 100;
        restime = $3;
        rescode = $10;
        repmsg = $11;
        testind = $12;
        if (rescode > 0) {
                if (rescode == 0) goodmsg ++
                else if (rescode >= 9000) publfail ++
                else if (rescode >= 7000) aisfail ++
                else if (rescode >= 6000) oisfail ++
                else if (rescode >= 5000) cabsfail ++
                else if (rescode == 1900) msgqd ++
                else chfail ++
        }
        if (repmsg == 1) repmsgs ++
        if (testind > 0) testmsgs ++
        if ((restime > 0) && (restime < maxtime)) {
                respt = (restime + respt);
                count ++;
        }
}
END {
        print( "=====================================")
        printf("%s : %d\n", "Number of Transactions   ", count);
        printf("%s : %.2f\n", "Average Response Time    ", (respt/count));
        printf("%s : %d\n", "Messages failed in PUBL  ", publfail);
        printf("%s : %d\n", "Messages failed in CABS  ", cabsfail);
        printf("%s : %d\n", "Messages failed in OIS   ", oisfail);
        printf("%s : %d\n", "Messages Queued for CABS ", msgqd);
        printf("%s : %d\n", "Messages failed          ", chfail);
        printf("%s : %d\n", "Number of Repeat Messages", repmsgs);
        printf("%s : %d\n", "Number of Test Messages  ", testmsgs);
        print( "=====================================")
}
